* {
  box-sizing: border-box;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-family: Arial, sans-serif;

}

.card-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.card {
  padding: 20px;
  width: 320px;
  min-height: 250px;
  text-align: center;
  background-color: #6d547e;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.card h2 {
  color: #ffffff;
  margin: 0;
  padding: 10px 0;
  font-size: 26px;
  font-weight: bold;
}

.transcription {
  color: #d3d3d3;
  font-size: 18px;
}

.btn-check {
  padding: 10px 20px;
  margin: 20px 0;
  background: linear-gradient(135deg, #a4508b, #6a92e4);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-check:hover {
  background: linear-gradient(135deg, #c77cd9, #8ab2f0);
  transform: scale(1.05);
}

.russian {
  margin: 20px 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.btn-nav {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
}

.btn-nav:disabled {
  color: #cccccc;
}

.btn-nav:hover:not(:disabled) {
  color: #a4508b;
}

.progress {
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}

.noWords {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-top: 100px;
}
