* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Transparent background to blend with the animated background */
  backdrop-filter: blur(
    8px
  ); /* Optional: Add blur for enhanced visual effect */
  color: white;
  text-align: center;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  overflow-x: hidden;
  box-sizing: border-box;
}

.logo-container {
  cursor: pointer;
}

.logo {
  height: 80px; /* Adjust height for better layout */
  width: auto;
}

.btn-container {
  display: flex;
}

.header-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgb(115, 109, 211);
  color: #fff;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.header-container button:hover {
  background-color: rgb(84, 209, 18);
  transform: scale(1.1); /* Smooth scaling effect on hover */
}
