* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  color: white;
  text-align: center;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  overflow-x: hidden;
  box-sizing: border-box;
}

.logo-container {
  cursor: pointer;
}

.logo {
  height: 80px;
  width: auto;
}

.btn-container {
  display: flex;
}

.header-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(to right, #a4508b, #6a92e4);
  color: #fff;
  font-size: 1.5rem;
  border: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.header-container button:hover {
  background: linear-gradient(to right, #c77cd9, #8ab2f0);
  transform: scale(1.1);
}

.login-button,
.signup-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 10px;
}

.login-button {
  background: linear-gradient(to right, #6a92e4, #8ab2f0);
}

.login-button:hover {
  background: linear-gradient(to right, #547ac0, #7a99d8);
  transform: scale(1.05);
}

.signup-button {
  background: linear-gradient(to right, #a4508b, #f0a6ca);
}

.signup-button:hover {
  background: linear-gradient(to right, #c77cd9, #d18fb4);
  transform: scale(1.05);
}
