/* src/components/ErrorPage/error.module.css */
.errorPage {
  color: #ff4c4c;
  text-align: center;
  margin-top: 50px;
}

.errorPage h2 {
  font-size: 2.5rem;
}

.errorPage p {
  font-size: 1.2rem;
}
